[Unit]
Description=Cloud Stack Nextcloud cron
Requires=cloudstack-workplace-nextcloud.service
After=cloudstack-workplace-nextcloud.service

[Container]
ContainerName=cloudstack-workplace-nextcloud-cron
Image=docker.io/library/nextcloud@sha256:8e5f49801db0cf4659b3089ce1917728023bb8cba7f93731f2abbdfe3a18df0a

Network=cloudstack-data.network

Volume=cloudstack-workplace-nextcloud-data.volume:/var/www/html
EnvironmentFile=/etc/cloudstack/modules/workplace/nextcloud/config/runtime.env

Secret=valkey-password,target=valkey-password,uid=33,gid=33,mode=0440

User=33
Group=33
Exec=/cron.sh

ReadOnly=true
Tmpfs=/tmp
NoNewPrivileges=true
DropCapability=ALL
StopTimeout=5

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=300
TimeoutStopSec=15
