[Unit]
Description=Cloud Stack Valkey

[Container]
ContainerName=cloudstack-data-valkey
Image=docker.io/valkey/valkey@sha256:ee91f7a174ac4d6a6b0685b3a60e321f0a9dbbb691f9b0e285be2ba1d1be8328

Network=cloudstack-data.network

Volume=cloudstack-data-valkey-data.volume:/data
Volume=/etc/cloudstack/modules/data/valkey/config:/etc/valkey:ro

Secret=valkey-password,target=valkey-password

User=999
Group=1000

Exec=/etc/valkey/start.sh

HealthCmd=/etc/valkey/healthcheck.sh
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=10s

NoNewPrivileges=true
ReadOnly=true
DropCapability=ALL

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=120
TimeoutStopSec=60
