[Unit]
Description=Cloud Stack Traefik

[Container]
ContainerName=cloudstack-core-traefik
Image=docker.io/library/traefik@sha256:9c3b91d5fb7770853ca5c1124a23c34bf2d9b47ffaebeab2614cbaf410dcb2ac

Network=cloudstack-edge.network

PublishPort=80:8000
PublishPort=443:8443

Volume=/etc/cloudstack/modules/core/traefik/config:/etc/traefik:ro

User=65532
Group=65532

HealthCmd=traefik healthcheck
HealthInterval=30s

NoNewPrivileges=true
ReadOnly=true
DropCapability=ALL

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=120
